@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", monospace;
}

li {
  list-style: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chat-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: medium dashed aquamarine;
}

.chat-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
}

.chat-username-message {
  display: flex;
  flex-direction: column;
}

.chat-window * {
  color: #cecece;
  text-align: justify;
  font-size: 0.9em;
}

.username-container {
  display: flex;
  justify-content: flex-start;
  padding-right: 0.1em;
}

.message-container {
  display: flex;
  flex-wrap: wrap;
  padding-right: 0.1em;
  width: 20em;
}

.date-container {
  display: flex;
  justify-content: flex-end;
}

.message-text {
  color: #cecece;
}

#send-username-container *,
#send-message-container * {
  display: flex;
  border: 0;
  border-bottom: 2px solid aquamarine;
  font-size: 30px;
  line-height: 35px;
  height: 70px;
  text-align: center;
  padding: 10px;
  background: transparent;
  color: #cecece;
  margin-bottom: 40px;
}

#send-username-container *:focus,
#send-message-container *:focus {
  outline: 0;
}

a#submit-button {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid aquamarine;
  margin: 0 0 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  transition: all 0.15s;
  justify-content: center;
}

a#submit-button:hover {
  color: #dddddd;
  border-color: #dddddd;
}

a#submit-button:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
}

@media all and (max-width: 30em) {
  a#submit-button {
    display: block;
    margin: 0.4em auto;
    width: 10em;
  }

  .message-container {
    width: 2em;
  }

  .chat-window {
    width: 14em;
  }
}
